# Virtual Environment
.venv/
venv/
env/
ENV/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Databases
backend/fira.db
*.db
*.sqlite3

# Environment variables & secrets
.env
.env.*

# OS and Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
